@media (max-width: 1250px)
  .container
    margin-left: 40px
    margin-right: 40px
  .main
    height: 100vh
    //min-height: unset

@media (max-width: 1135px)
  .stages-list
    &_item
      margin-right: 15px
    &_number
      &::after
        width: 234px
      &--last::after
        width: 0
    &_text
      font-size: 18px
      line-height: 23px

@media (max-width: 1027px)
  .stages-list
    &_number
      &::after
        width: 197px
      &--last::after
        width: 0
  .apply
    &-button
      width: 350px
      height: 70px
  .materials
    &-button
      width: 350px
      height: 70px
  .order
    &-text
      font-size: 22px
      line-height: 28px
    &-item
      &_title
        font-size: 20px
        line-height: 26px
      &_dates
        font-size: 20px
        line-height: 26px
      &_text
        font-size: 20px
        line-height: 26px

@media (max-width: 876px)
  .stages-list
    flex-wrap: wrap
    justify-content: space-around
    &_item
      margin-bottom: 20px
    &_number
      &::after
        width: 0
  .subject
    &-list
      &_icon
        height: 90px
      &_text
        font-size: 18px
        line-height: 23px
    &-text
      font-size: 16px
      line-height: 21px
  .order
    &-text
      font-size: 20px
      line-height: 26px
    &-item
      width: 85%
      &_title
        font-size: 18px
        line-height: 23px
      &_dates
        font-size: 16px
        line-height: 21px
      &_text
        font-size: 16px
        line-height: 21px
      &_img
        width: 280px
        height: 185px

@media (max-width: 768px)
  .button
    font-size: 14px
    line-height: 18px
  .main
    &-content
      &_title
        margin-bottom: 40px
        font-size: 35px
        line-height: 45px
      &_text
        margin-bottom: 40px
        font-size: 18px
        line-height: 23px
    &-button
      width: 160px
      height: 45px
  .logo-image
    &_tusur
      height: 60px
    &_ormo
      height: 75px
  .apply
    &-button
      width: 225px
      height: 50px
  .materials
    &-button
      width: 225px
      height: 50px
  .order
    &-item
      &_img
        width: 240px
        height: 165px

@media (max-width: 683px)
  h2
    font-size: 35px
    line-height: 45px
  .button
    font-size: 12px
    line-height: 16px
  .main
    //height: 450px
    &-content
      &_title
        margin-top: 55px
        font-size: 25px
        line-height: 32px
      &_text
        font-size: 14px
        line-height: 18px
    &-button
      width: 125px
      height: 35px
  .logo-image
    &_tusur
      height: 40px
    &_ormo
      height: 55px
  .stages
    margin-top: 50px
    &-list
      &_number
        margin-bottom: 20px
        width: 30px
        height: 30px
        font-size: 18px
        line-height: 23px
  .bonuses
    margin-top: 50px
    &-text
      font-size: 18px
      line-height: 23px
      margin-bottom: 20px
    &-list
      &_item
        margin-bottom: 20px
      &_icon
        width: 40px
      &_text
        font-size: 18px
        line-height: 23px
  .subject
    margin-top: 50px
    &-list
      &_icon
        height: 50px
  .apply
    margin-top: 50px
    margin-bottom: 50px
    &-button
      height: 40px
      width: 195px
  .materials
    margin-top: 50px
    margin-bottom: 50px
    &-button
      height: 40px
      width: 195px
  .order
    &-text
      font-size: 18px
      line-height: 23px
    &-item
      &_title
        font-size: 16px
        line-height: 21px
      &_dates
        font-size: 14px
        line-height: 18px
      &_text
        font-size: 14px
        line-height: 18px
      &_img
        width: 230px
        height: 145px
  .modal
    &-window
      width: 70%
      margin-right: auto
      margin-left: auto
    &-header
      font-size: 18px
      line-height: 23px
    &-form
      &_subjects
        margin-bottom: 10px
        &-title
          font-size: 14px
          line-height: 18px
        &-hint
          font-size: 12px
          line-height: 16px
        &-item
          font-size: 12px
          line-height: 16px
      &_subject::before
        width: 15px
        height: 15px
        margin-right: 10px
      &_conf
        font-size: 14px
        line-height: 18px
        &-label::before
          left: -25px
          width: 15px
          height: 15px
      &_button
        height: 40px
        width: 170px
  input, select
    padding: 7px 10px
    font-size: 12px
    line-height: 16px
  input::placeholder
    font-size: 12px
    line-height: 16px

@media (max-width: 576px)
  .container
    margin-right: auto
    margin-left: auto
    width: 91%
  .main
    background-position: center, center
    &-content
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      height: 70vh
      text-align: center
      &_title
        margin-top: 45px
        font-size: 35px
        line-height: 45px
        margin-bottom: 50px
      &_text
        font-size: 18px
        line-height: 23px
        margin-bottom: 50px
    &-button
      width: 210px
      height: 40px
      font-size: 14px
      line-height: 18px
  .logo
    &-wrapper
      padding-top: 20px
    &-image
      &_tusur
        height: 35px
      &_ormo
        height: 50px
  .subject
    &-list
      justify-content: center
      &_text
        font-size: 16px
        line-height: 21px
    &-text
      font-size: 14px
      line-height: 18px
  .order
    &-text
      margin-bottom: 35px
    &-item
      flex-direction: column
      margin-bottom: 25px
      width: 65%
      &_desc
        width: 100%
      &_img
        margin-left: 0
        margin-right: 0
        width: 200px
        height: 135px
      &:last-child
        flex-direction: column-reverse
  .modal
    &-window
      width: 75%
    &-form
      &_field
        margin-bottom: 15px
      &_group
        flex-direction: column
      &_item
        width: 100%
        margin-bottom: 15px
      &_subjects
        &-hint
          margin-bottom: 15px
        &-item
          margin-bottom: 15px
      &_conf
        font-size: 12px
        line-height: 16px
        margin-bottom: 25px

@media (max-width: 460px)
  h2
    margin-bottom: 30px
    font-size: 25px
    line-height: 32px
  .main
    &-content
      &_title
        font-size: 30px
        line-height: 39px
      &_text
        font-size: 16px
        line-height: 21px
  .stages
    margin-top: 40px
    &-list
      margin-bottom: 0
      &_item
        margin-right: 0
        margin-bottom: 15px
      &_number
        margin-bottom: 15px
        font-size: 14px
        line-height: 18px
        width: 25px
        height: 25px
      &_title
        font-size: 14px
        line-height: 18px
        margin-bottom: 15px
      &_text
        font-size: 16px
        line-height: 21px
  .bonuses
    margin-top: 40px
    &-text
      font-size: 16px
      line-height: 21px
      margin-bottom: 15px
    &-list
      &_item
        margin-bottom: 15px
      &_text
        font-size: 16px
        line-height: 21px
  .subject
    margin-top: 40px
    &-list
      margin-bottom: 15px
      &_item
        margin-bottom: 20px
      &_icon
        height: 40px
  .apply
    margin-top: 40px
    margin-bottom: 40px
  .materials
    margin-top: 40px
    margin-bottom: 40px
  .order
    &-text
      margin-bottom: 20px
      font-size: 16px
      line-height: 21px
    &-item
      margin-bottom: 20px
      &_title
        font-size: 14px
        line-height: 18px
        margin-bottom: 15px
      &_dates
        font-size: 12px
        line-height: 16px
        margin-bottom: 15px
      &_text
        font-size: 12px
        line-height: 16px
        margin-bottom: 15px
      &_img
        width: 195px
        height: 115px
  .footer
    padding-top: 25px
    &-contacts
      font-size: 12px
      line-height: 16px
  .modal
    margin-top: 20px
    &-window
      width: 85%
      margin-top: 0
    &-form
      &_subjects
        flex-direction: column
        flex-wrap: nowrap

@media (max-width: 375px)
  .bonuses
    &-list
      &_item
        justify-content: flex-start

@media (max-width: 320px)
  .main
    &-button
      width: 185px
      height: 35px
      font-size: 12px
      line-height: 16px
  .logo
    &-wrapper
      flex-wrap: wrap
      padding-top: 15px
    &-image
      &_tusur
        height: 30px
        margin-bottom: 10px
      &_ormo
        height: 40px
  .subject
    &-list
      &_item
        margin-right: 15px
        margin-left: 15px
        margin-bottom: 15px
