.bonuses
  margin-top: 70px
  &-text
    text-align: center
    margin-bottom: 30px
  &-list
    &_item
      display: flex
      margin-bottom: 30px
      align-items: center
      justify-content: center
    &_text
      margin-bottom: 0
    &_icon
      width: 44px
      padding-right: 15px
